# Android generated
bin/
gen/
.settings/

# Ant
local.properties

# Eclipse
.classpath
.project
.externalToolBuilders/

# Ship
dist/

# Temp
*.tmp
*~
*.orig
*.swp

# Dev
# libs/armeabi/
# libs/android.ppmedia.jar
# libs/MeetSDK.jar
