<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pplive.liveplatform"
    android:versionCode="111"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" >
    </uses-sdk>

    <!-- Media -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Others -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Getui Permission -->
    <uses-permission android:name="getui.permission.GetuiService" />

    <permission
        android:name="getui.permission.GetuiService"
        android:protectionLevel="normal" />

    <application
        android:name="com.pplive.liveplatform.LiveApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SlideInAndSlideOut" >

        <!-- MetaData -->
        <meta-data
            android:name="INSTALL_CHANNEL"
            android:value="dev" />

        <!-- UMENG MetaData -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_app_key" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="dev" />

        <!-- Getui MetaData -->
        <meta-data
            android:name="appid"
            android:value="cA4KWvhoie9biY260Sqgj8" />
        <meta-data
            android:name="appsecret"
            android:value="ONwgcrdpqYAj3MwcD9dpg1" />
        <meta-data
            android:name="appkey"
            android:value="d6gKZ7VxeI85DMOVKyF0H8" />
        <meta-data
            android:name="groupid"
            android:value="" />

        <!-- Activity -->
        <activity
            android:name="com.pplive.liveplatform.ui.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.NavigateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideOut"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.LivePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.LiveRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.SearchResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.QualitySettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.NicknameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.WebviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideInAndSlideOut"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.UserpageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pplive.liveplatform.ui.UpdateProgressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- Tencent Activity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100585339" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tencent.plus.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- UMENG Activity -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideInAndSlideOut.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideInAndSlideOut.Translucent.NoTitleBar" >
        </activity>

        <!-- Getui Activity -->
        <activity
            android:name="com.igexin.sdk.SdkActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.GexinSdkActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.igexin.action.popupact.com.pplive.liveplatform" />
                <!-- com.igexin.action.popupact.{package} -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Service -->
        <service
            android:name="com.pplive.liveplatform.core.dac.DacReportService"
            android:process=":service" >
        </service>
        <service
            android:name="com.pplive.liveplatform.core.crash.CrashReportService"
            android:process=":service" >
        </service>
        <service
            android:name="com.pplive.liveplatform.core.network.WifiSpeedCheckService"
            android:process=":service" >
        </service>

        <!-- Baidu Service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":service" >
        </service>

        <!-- GeTui Service -->
        <service
            android:name="com.igexin.sdk.SdkMainService"
            android:exported="false"
            android:label="NotifyCenter"
            android:process=":pushservice" >
        </service>
        <service
            android:name="com.igexin.sdk.coordinator.SdkMsgService"
            android:exported="false"
            android:label="NotifyCenterAIDL"
            android:process=":pushservice" >
        </service>

        <!-- Receiver -->
        <receiver android:name="com.pplive.liveplatform.core.network.NetworkManager" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Getui Receiver -->
        <receiver android:name="com.igexin.sdk.SdkReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.coordinator.NotificationCenterAIDLReceiver"
            android:permission="getui.permission.GetuiService" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
    </application>

</manifest>